.animated-element {
  width: 200px;
  height: 200px;
  background-size: cover; /* Adjust as needed */
  animation: image-cycle 5s infinite linear;
}

@keyframes image-cycle {
  0% {
    background-image: url('../images/tiger.png');
  }
  50% {
    background-image: url('../images/crazyTiger.png');
  }
  100% {
    background-image: url('../images/tigersurprise.png');
  }
}








@keyframes remake {
  from {
    width: 25%;
    border-radius: 60% 40% 70% 30% / 30% 30% 70% 70%;
    background-image: url('../images/crazyTiger.png');
  }

  to {
    width: 50%;
    border-radius: 60% 40% 33% 67% / 30% 45% 55% 70%;
     background-image: url('../images/ugly.png');
    transition: background-color 0.5s ease-in-out;
  }
}

.element {
  animation: remake 1.5s infinite alternate;
}

@layer demo {
  * {
    padding: 0px;
    margin: 0px;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
   
  }

  .element {
    max-width: calc(100vw - 30px);
    height: min(500px, 90vmin);

    border: 2px dashed grey;

    background-color: white;
  }
}
